header {
  flex: none;
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 75px;
  font-weight: bold;
}
/* header div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
header div h1{
  font-size: 24px;
}
nav ul{
  display: flex;
  justify-content: flex-end;;
  list-style: none;
}
nav ul li{
  padding-left: 15%;
  font-size: 13px; */
/* } */
