body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  padding-left: 210px;
  padding-right: 210px;
}

/* font-family: 'Big Shoulders Inline Display', cursive;
font-family: 'Big Shoulders Text', cursive;
font-family: 'Sofia Sans', sans-serif; */
